@font-face{
    font-family: Gotham;
    src: url('./fonts/Gotham-XLight.otf');
}

body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: Helvetica;
    background: rgb(255, 255, 255);
    /* color: #e6f7ff; */
}

a {
    text-decoration: none;
}

